<div class="uk-flex-center" uk-grid>
   <div class="uk-width-1-1@m">
      <div class="uk-container uk-margin-small-bottom">

         <app-loading *ngIf="busy"></app-loading>

         <div *ngIf="!busy">
            <div class="uk-margin-medium-top">
               <h3 class="uk-text-center dev-color-primary">Usuários</h3>
            </div>

            <div uk-grid>
               <div class="uk-width-1-3@m" *ngFor="let user of users$">
                  <app-user-card [user]="user"></app-user-card>
               </div>
            </div>
         </div>

      </div>
   </div>
</div>